doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    block head
    link(rel="icon" href="/icon.png")
    link(rel="stylesheet", href="/bootstrap.min.css")
  body
    .p-3
      .row
        .col-sm-2
          .list-group
            include menu.pug
        .col-sm-10
          block body